################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
Resources/
Setup/
icons/
Query/
*.ico
*.htm

/packages
*.exe
.vs/
