################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccessLayer/bin
/DataAccessLayer/obj
/DataAccessLayer/Properties
/DataAccessLayer/app.config

/packages
*.exe
.vs/Matjar/v16/Server/sqlite3/db.lock
*/bin/
