################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
Resources/
Setup/
icons/
Query/
temp/*.txt
*.ico
*.htm

/packages
*.exe
.vs/
